## Settings file was created by plugin BalrondSecondChance v1.0.2
## Plugin GUID: balrond.astafaraios.BalrondSecondChance

[0 General]

## If on, server values are enforced.
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## How long player stays downed.
# Setting type: Single
# Default value: 120
Downed Seconds = 120

## Auto death after timer.
# Setting type: Boolean
# Default value: true
Auto Release When Timer Ends = true

## Cooldown after revive.
# Setting type: Single
# Default value: 10
Cooldown Minutes = 10

## Health after revive.
# Setting type: Single
# Default value: 0.25
Revive Health Percent = 0.25

## Max revive distance.
# Setting type: Single
# Default value: 3
Revive Distance = 3

## Sit or Bed.
# Setting type: String
# Default value: Sit
Downed Presentation Mode = Sit

[1 Self Revive]

## Allow self revive.
# Setting type: Boolean
# Default value: true
Allow Self Revive = true

## Require item for self revive.
# Setting type: Boolean
# Default value: true
Require Item For Self Revive = true

[2 Friend Revive]

## Require item for reviving others.
# Setting type: Boolean
# Default value: true
Require Item For Friend Revive = true

[3 Items]

## Item prefab name.
# Setting type: String
# Default value: MeadHealthMinor
Resurrection Item Prefab = MeadHealthMinor

## Amount required.
# Setting type: Int32
# Default value: 1
Resurrection Item Amount = 1

