## Settings file was created by plugin WebMap v2.7.1
## Plugin GUID: com.github.h0tw1r3.valheim.webmap

[Interval]

## How often do we update the fog texture on the server in seconds.
# Setting type: Single
# Default value: 2
update_fog_texture_interval = 2

## How often do we save the fog texture in seconds.
# Setting type: Single
# Default value: 30
save_fog_texture_interval = 30

## How often do we send position data to web browsers in seconds.
# Setting type: Single
# Default value: 1
player_update_interval = 1

[Server]

## HTTP port for the website. The map will be display on this site.
# Setting type: Int32
# Default value: 3000
server_port = 3000

## Should the server cache web files to be more performant?
# Setting type: Boolean
# Default value: true
cache_server_files = true

## How many messages to keep buffered and display to client.
# Setting type: Int32
# Default value: 100
max_messages = 100

## Output debugging information.
# Setting type: Boolean
# Default value: false
debug = false

## Enable test features (bugs).
# Setting type: Boolean
# Default value: false
test = false

## Discord webhook URL
# Setting type: String
# Default value: 
discord_webhook = 

## Optional Discord invite URL to be added to the webpage.
# Setting type: String
# Default value: 
discord_invite_url = 

## URL to view the web map.
# Setting type: String
# Default value: 
webmap_url = http://home.dehaven.info:3000

[Texture]

## How large is the map texture? Probably dont change this.
# Setting type: Int32
# Default value: 2048
texture_size = 2048

## How many in game units does a map pixel represent? Probably dont change this.
# Setting type: Int32
# Default value: 12
pixel_size = 12

## A larger explore_radius reveals the map more quickly.
# Setting type: Single
# Default value: 100
explore_radius = 100

## How zoomed in should the web map start at? Higher is more zoomed in.
# Setting type: Int32
# Default value: 100
default_zoom = 100

[User]

## How many pins each client is allowed to make before old ones start being deleted.
# Setting type: Int32
# Default value: 50
max_pins_per_user = 50

## Update the map to show where hidden players have traveled.
# Setting type: Boolean
# Default value: true
always_map = true

## Completely ignore the players preference to be hidden.
# Setting type: Boolean
# Default value: false
always_visible = false

