## Settings file was created by plugin RtDOcean v2.2.35
## Plugin GUID: Soloredis.RtDOcean

[Logging]

## Enable or Disable logging of mod.
# Setting type: Boolean
# Default value: false
Enable = false

[Ocean Clutter]

Enable = true

